    <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <title>Author</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Author</h1>
    <form action="/author" method="post" title="Add a book">
    	<h3>Add an author</h3>
    	<p>First name: <input type="text" name="firstName"/></p>
    	<p>Last name: <input type="text" name="lastName"/></p>
        <p><input type="submit" value="Add" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>


</body>
</html>