    <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <title>Librarian</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Librarian</h1>
    <form action="/librarian" method="post" title="Add a librarian">
    	<h3>Add a librarian</h3>
    	<p>First name: <input type="text" name="firstName"/></p>
    	<p>Last name: <input type="text" name="lastName"/></p>
    	<p>Phone number: <input type="text" name="phoneNo"/></p>
        <p><input type="submit" value="Add" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>


</body>
</html>