    <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <title>Publisher</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Category</h1>
    <form action="/publisher" method="post" title="Add a publisher">
    	<h3>Add a publisher</h3>
    	<p>Publisher name: <input type="text" name="name"/></p>
 
        <p><input type="submit" value="Add" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>


</body>
</html>